.sfondo{
    background-image: url(https://st2.depositphotos.com/3725083/5485/i/450/depositphotos_54856269-stock-photo-travel-the-world-monument-concept.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#opaco{
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0; 
    margin: 0 auto;
    position: relative;
    top:200px;
}
#opaco h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

#opaco p{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}

#opaco a{
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#highlights{
    text-align: center;
}

#destination{
    position: flex;
}

.destination img{
    height: 200px;
} 

ul{
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 50px 100px;
}

#tutto{
    grid-column: 1/3;
}